body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:14px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;background:#fff;-webkit-text-size-adjust:100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#2789f3;text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}
i{
    font-style: normal;
}
/* 公共部分 */
html{
    font-size: 100px;
}
/* 顶部 */
header{
    overflow: hidden;
    
}
.header{
    max-width: 1920px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 10px 30px;
    display: flex;
    overflow: hidden;
}
.header .logo{
    flex: 1;
    font-weight: 700;
    font-size: 0.3rem;
    line-height: 0.6rem;
}
.header .tel{
    width: 2rem;
    font-size: 0.24rem;
    
}
.header .tel h4{
   
}
.header .tel p{
   font-weight: 700;
   color: #2789f3;
}
.tab{
    width: 100%;
    background: #2789f3;
}
.tab ul{
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}
.tab ul li{
    position: relative;
    float: left;
    width: 2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}
.tab ul li i{
    position: relative;
    z-index: 111;
}
.tab ul li span{
    position: absolute;
    transition: 0.4s;
    top: 0.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c79dd;
    z-index: 1;
}
.tab ul li:hover {
    font-weight: 700;
}
.tab ul .init{
     font-weight: 700;
}
.tab ul .init span{
    top: 0;
}
.tab ul li .active{
    top: 0;
  
}
/* 主题 */
main{
  
    overflow: hidden;
}
.banner{
    width: 100%;
   
}
.swiper-slide img{
    width: 100%;
}
.swiper-container{
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
  }
  .swiper-pagination-bullet-active {
    color:#fff;
    background: #2789f3;
  }
.main{
    max-width: 1300px;
    margin:  0.2rem auto;
    width: 100%;
}
.main .title{
    height: 1rem;
    line-height: 1rem;
    letter-spacing: 0.03rem;
    text-align: center;
    
}
.main .title h2{
    font-size: 0.28rem;
    color: #2789f3;
    font-weight: 700;
    text-shadow: 0px 2px 8px #83ACDB;

}
.proList{
    overflow: hidden;
}
.proList ul li{
    float: left;
    width: 20%;
    position: relative;
  
}
.proList ul li .item{
    transition: all .2s linear;
    text-align: center;
    border-radius: 3px;
    margin:0.15rem 0.1rem;
}
.proList ul li .item img{
    display: block;
    width: 100%;
    height: 260px;
}
.proList ul li .item:hover{
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0)
}
.proList .item p{
    line-height: 0.4rem;
    font-size: 0.14rem;
    font-weight: 400;
    color: #333;
    background: rgb(243, 241, 241);
}
.about{
    display: flex;
    overflow: hidden;
}
.about .left{
    width: 50%;

}
.about .left img{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.about .right{
    flex: 1;
    padding:0.1rem 0.2rem;
}
.about .right h3{
    font-size: 24px;
    line-height: 0.36rem;
    margin-bottom: 0.2rem;
}
.about .right p{
    text-indent: 0.3rem;
    letter-spacing: 2px;
    line-height: 0.25rem;
}
footer{
    max-width: 1920px;

}

.footer{
    width: 100%;
    background: #2789f3;
    padding-bottom: 0.2rem;
}
.info{
    
    padding: 10px;
    color: #fff;
    max-width: 1300px;
    line-height: 0.3rem;
    margin: 0 auto;
    overflow: hidden;
}
.info ul li{
    width: 33.3%;
    float: left;
    line-height: 0.4rem;
}
.copyright{
    line-height: 0.3rem;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 725px) {
    html{
        font-size: 80px;
    }
   .tab{
       display: none;
   }
   .proList ul li{
       width: 50%;
   }
   .about{
       display: initial;
   }
   .about .left{
       width: initial;
   }
   .about .right h3{
       margin-top: 15px;
       text-align: center;
   }
   .info ul li{
       width: 100%;
       float: initial;
   }
   .footer{
    padding: 0 10px;
    box-sizing: border-box;
   }
}